# ----------------------------------------------------------------------
#   hxgridedit package
# ----------------------------------------------------------------------

editor -name "GridEditor" \
   -icon "HxGridEditor.png" \
   -data "HxTetraGrid" \
   -class "HxGridEdit" \
   -dso "libhxgridedit.so"

