# ----------------------------------------------------------------------
#  tridelity package
# ----------------------------------------------------------------------

module -name "TridelityView" -priority 8 \
    -class "HxTridelity" \
    -category "Display" \
    -dso "libhxtridelity.so"
