# ----------------------------------------------------------------------
# hxzibmolfile package
# ----------------------------------------------------------------------

dataFile \
    -name   "ZMF" \
    -load   "readZMFtoAmira" \
    -header "STRUCTURED FILE" \
    -dso    "libhxzibmolfile.so"
